.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.nav-link:focus,
.nav-link:hover {
    color: #FFBC00;
}

.nav-link {
    color: #6F1A96;
}

.navbar-toggler {
    color: #6F1A96;
}

#load-map {
    height: 500px;
    width: 100%;
}